# Configuration file for IFCB to EcoTaxa
# ======================================


### Metadata
[meta]
cruise='CRUISE_NAME'
vessel='RESEARCH_VESSEL'
instrument='IFCB###'
# Set conversion factor from pixel to micro_meter
# Check for your IFCB (might be different)
scale=3.4
depth_min=1.5
depth_max=1.5
website='http://ifcb-data.whoi.edu/IFCB_107_NAAMES02'

### Processing informations
[process]
id='MATLAB_<AUTHOR>'
soft='MATLAB 2016a'
date='YYYYMMDD'
time='HHMMSS'
# Run blobs extraction
blobs=true
features=true
images=false
export=false

### Set location of data
# path cannot be relative to user directory using "~" (bug in java.io.File)
# path must finish by a slash "/" or backslash"\" depending on your OS
[path]
# Path to IFCB data to process
in='~/Documents/MATLAB/IFCB/training_test_data/data/'
# Path to temporary directory to write data
wk='~/Documents/MATLAB/IFCB/training_test_data/proc/'
# Path to output directory with EcoTaxa data
out='~/Documents/MATLAB/IFCB/training_test_data/output/'

### Set location of code
# Path to IFCB_analysis from Heidi M. Sosik
ifcb_analysis='~/Documents/MATLAB/easyIFCB/IFCB_analysis/'
# Path to DIPUM functions
dipum='~/Documents/MATLAB/easyIFCB/DIPUM/'

### Processing parameters
[proc]
parallel=true
