# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~
*~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Ignore OSX DS_Store
.DS_Store

# Ignore depndencies
IFCB_analysis/*
DIPUM/*

# Ignore personal code
ecotaxa_org/*
generate_metadata/*
projects/*
plots/* 
*_deprecated.m

# Ignore local data
cfg/*
classifiers/*

